body {
	background-color: #252627;
}

.about {
	display: flex;
	justify-content: center;
}

.about img {
	height: 150px;
	width: 150px;
}

.about h1 {
        color: #8E94F2
}

.about p {
        font-size: 15px;
        color: #9FA0FF;
}

.links {
	display: flex;
	justify-content: center;
}

.links a {
	text-align: center;
	width: 25%;
        border: 2px solid #9FA0FF;
        border-radius: 8px;
        padding: 10px;
        margin: 5px; 
        background: #8E94F2;
}

a:link, a:visited {
        text-decoration: none;
        color: #FFF9FB;
}

a:hover, a:active {
        text-decoration: none;
        color: #FFF9FB;
}
